body {
  background-image: url("./utils/images/damiano-lingauri-bUM4weg0RSI-unsplash.jpg");
  object-fit: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

@media (max-width: 400px) {
  html{
    font-size: 13px;
    
  }  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
